* {
    margin-left: 5px;
    margin-top: 9px;
    margin-bottom: 15px;
    margin-right: 7px;
}

#head {
    margin-top:15px;
    color:white;
    font-weight:bold;
    text-align:center;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.intro {
    height: 230px;
    margin: 12px;
    padding: 5px;
    padding-left: 490px;
}

#img {
    height: 200px;
    width: 200px;
    margin: 0px;
  box-shadow:1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}

.intro_text {
    color: rgb(37, 13, 13);
    font-size: 20px;
    font-weight: bold;
    display:block;
}

h3 {
    text-decoration: underline;
}

a {
    color: rgba(197, 24, 11, 0.89);
}
a:hover{
    color:white;
    font-size:15px;
}

.bio {
    background-color: rgb(240, 218, 95);
    padding: 5px;
    margin: 12px;

}

.bio:hover {
    background-color: black;
    color: white;
    padding: 15px;
}

.achievement {
    background-color: rgb(240, 218, 95);
    padding: 5px;
    margin: 12px;

}

.achievement:hover {
    background-color: black;
    color: white;
    padding: 15px;
}

#cite {
    background-color: rgb(240, 218, 95);    padding: 5px;
    margin: 12px;
}

#cite:hover {
    background-color: black;
    color: white;
    padding: 15px;
}

.resource {
    background-color: rgb(240, 218, 95);    padding: 5px;
    margin: 12px;
}

.resource:hover {
    background-color: black;
    color: white;
    padding: 15px;
}